*.so filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
unity/dino-garden/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-9_3_0.so filter=lfs diff=lfs merge=lfs -text
unity/dino-garden/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-9_3_0.bundle filter=lfs diff=lfs merge=lfs -text
